{% extends "base.html" %}

{% block content %}
  <div ng-controller="trackcontroller">
    <div class="container-fluid">
      <div ng-hide="is_authorized">
      <div class="row-fluid">
        <button
          ng-click="handleAuthClick()">login!</button></div>
      </div>
      <div class="row-fluid" ng-show="is_authorized"><p>login = {{ '{{ username }}' }}</p>
        <button ng-click="logout()">log out</button>
      </div>
      <div class="row-fluid" ng-show-"is_authorized">
       <div id="chart_div" class="span4" style="width:400; height:300"></div>
       <div id="chart_div2" class="span4" style="width:400; height:300"></div>
       <div id="chart_div3" class="span4" style="width:400; height:300"></div>
       <table class="table">
         <td><input type="text" ng-model="estimates"
           ng-change="recalc_estimates()"></td>
         <td><input type="text" ng-model="estimate_text" ></td>
       </table>
       <table class="table">
         <tr><td>Task</td><td>Estimated Time</td><td>True Estimate</td><td>Actual Time</td><td></td></tr>
       <tr>
         <td><input type="text" ng-model="name" required ></td>
         <td><input type="number" class="input-mini" ng-model="estimate"
           step="5" min="0" required ng-change="update_estimate()"></td>
         <td><span class="{{ '{{ realestimate_class }}' }}">(really {{ '{{realestimate | number:0}}' }}m)</span></td>
         <td><input type="number" class="input-mini" ng-model="actual_mins" min="0"
           ng-change="update_actual()">m</td>
         <td><input type="number" class="input-mini" ng-model="actual_secs" min="0"
           ng-change="update_actual()">s</td>
         <td><button ng-click="delete_task()">{{ '{{ delete_or_clear_text }}' }}</button></td>
         <td><button ng-click="new_or_add()">{{ '{{ new_or_add_text }}' }}</button></td>
         <td><button ng-click="toggle_and_submit()">{{ '{{ buttontext }}' }}</button></td>
         <td><button ng-click="submit(true, true)">done</button></td>
       </tr>
      </table>
      <table class="table table-striped" ng-show="are_unfinished">
        <tr><td>Unfinished Tasks</td></tr>
        <tr><td>Task</td><td>Estimated Time</td><td>Real Estimate</td><td>Projected Date</td></tr>
        <tr ng-repeat="task in unfinished_sorted()">
          <td>{{ '{{task.name}}' }}</td>
          <td>{{ '{{task.estimate / 60 | number:0}}' }}m {{ '{{task.estimate % 60 | number:0}}s' }}</td>
          <td>{{ '{{task.realestimate / 60 | number:0}}' }}m {{ '{{task.realestimate % 60 | number:0}}s' }}</td>
          <td>{{ '{{task.day_estimate.format(\'ddd YYYY-MM-DD\')}}' }}</td>
          <td><button ng-click="moveup(task.task_id)">up</button></td>
          <td><button ng-click="movedown(task.task_id)">down</button></td>
          <td><button ng-click="switch_to(task.task_id)">focus</button></td>
        </tr>
      </table>
      <table class="table table-hover">
        <tr><td>Finished Tasks</td></tr>
        <tr><td>Task</td><td>Estimated Time</td><td>Actual Time</td><td></td></tr>
        <tr ng-repeat="task in finished()">
          <td>{{ '{{task.name}}' }}</td>
          <td>{{ '{{task.estimate / 60 | number:0}}' }}m {{ '{{task.estimate % 60 | number:0}}s' }}</td>
          <td>{{ '{{task.actual / 60 | number:0}}' }}m {{ '{{task.actual % 60 | number:0}}s' }}</td>
          <td><button ng-click="switch_to(task.task_id)">focus</button></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
{% endblock %}
